<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="TOKEN_COMMON" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkNWFiNzU4NDM0NzA1MDAxODcxMzNhMSIsInR5cGVMb2dpbiI6InVzZXJfdG9rZW4iLCJ0eXBlVG9rZW4iOiJnZW5lcmFsIiwiaWF0IjoxNTcxMzQ4NTMzfQ.PpDDcABwhLsZXDU-IcAXD8_SfL29hKe6DNstBNmSu7E"/>
        <env name="TOKEN_TRANSFER" value="testing"/>
    </php>
</phpunit>
